<body id="login">

<h1 class="sign_h">Log In</h1>

<div class='login_form'>
	<div class='error_messages'>
		<% flash.each do |name,msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>


	<%= form_tag sessions_path do %>
	  <div class="field">
	    <%= label_tag :username %><br />
	    <%= text_field_tag :username, params[:username] %>
	  </div>
	  <div class="field">
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
	  </div>
	  <div class="actions"><%= submit_tag "Log In", :class => "sign_b" %></div>
	<% end %>
</div>

</body>