<body id="signup">

  <h1 id="signup_h">Sign Up</h1>

  <div class='login_form'>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
                <% @user.errors.full_messages.each do |message| %>
                  * <%= message %> *<br>
                <% end %>
        </div>
      <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Sign Up", :class => "signup_b" %></div>
  <% end %>

</body>