<%= form_for @fairy do |f| %>

<!--   <div class="field">
    <p>Asteroids: <%= f.radio_button :realm, "asteroid", :checked => "false" %></p>
    <p>Stars: <%= f.radio_button :realm, "star", :checked => "false" %></p>
    <p>Rockets: <%= f.radio_button :realm, "rocket", :checked => "false" %></p>
    <p>Comets: <%= f.radio_button :realm, "comet", :checked => "false" %></p>
  </div>
 -->
  <div class="actions"><%= f.submit "CHOOSE" %></div>
<% end %>