<!DOCTYPE html>
<html>
<head>
    <title>Nightforestapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.js" charset="utf-8"></script>
    <link href='https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
</head>
<body>

        <div id="container">
			<div id="user_header">
        		<% if current_user %>
                	<%= link_to(current_user, html_options = {class: "user_links"}) do %>
                        <div class="right_links">
                    	   <%= current_user.username %>'s page
                        </div>
                	<% end %>
                    <div class="right_links">
                        <%= link_to "log out", logout_path, :class => "user_links" %>
                    </div>
			    <% else %>
                    <div class="right_links">
                        <%= link_to "sign up", signup_path, :class => "user_links" %>
                    </div>
                    <div class="right_links"> 
                        <%= link_to "log in", login_path, :class => "user_links" %>
                    </div>
			    <% end %>
			</div>

        <div id="path_header">
            <div class="left_links">
                <%= link_to "forest", root_path, :class => "path_links" %>
            </div>
            <div class="left_links"> 
                <%= link_to "night sky", sky_path, :class => "path_links" %>
            </div>
        </div>

            <%= yield %>

        </div>

</body>
</html>
